#tovabb {
	position:relative;
	top:-39px;
	left:580px;
	width:120px;
	margin: -35px;
	padding: 15px;
	background-color: rgba(225, 165, 0, 0.6);
}

#tovabb:hover {
	background-color: black;
}

#tartalom {
	width: 600px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
}

table {
	width: 500px;
}

table td {
	width: 75px;
	text-align: center;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

h1 {
	border-bottom: 1px lightgray solid;
}